<h1 class= "fontsyt">Login In Style</h1>
<!--The Guy Image-->
<!--<%=image_tag 'bg.jpg', :width => 1300, :height => 600, :crop => :fill %>-->

<!--<img src="/assets/guy.png">-->



<body  style=" background:url('/assets/style.jpg'); background-repeat:no-repeat; background-size: cover;">


  <form method="get" action="/login/check">
   <input style= "width:13%; border-radius:5px";type="text" name="username" id="username"size="15" placeholder="            username" /><br />
   <input style= "width:13%;border-radius:5px";type="password" name="password" id="password" size="15" placeholder="            password"/><br />
    
   <p><input style="position:absolute; left:40px; width:8%; border-radius:5px ;" type="submit"  value="login" onclick=" return val()"/></p>
   </form>
<br>
<br>
<font style= "color :#FFFF00">-----------------------------%----------------------------------------- </font>

<h1 style= "color:#FFFFFF; text-shadow: 8px 8px 8px #1569C7"> NEW USER ????- Join the Race </h1>
  <form method="get" action="/login/new_user">
  <font style= "color:#FFFFFF;text-shadow: 5px 5px 5px #F52887">Username: </font> <input style="border-radius:5px" type="text" name="username" id="username"size="15" /><br />
  <font style= "color:#FFFFFF;text-shadow: 5px 5px 5px #F52887">Password: </font> <input style="border-radius:5px"type="password" name="password" id="password" size="15" /><br />
  <font style= "color:#FFFFFF;text-shadow: 5px 5px 5px #F52887">Email: </font> <input style="position:absolute;  left:80px;border-radius:5px" type="text" name="email" id="email" size="15" /><br />
   
   <p><input style="position:absolute; left:80px;border-radius:5px" type="submit"  value="Register" onclick = "/login/show" />
   <input style="position:absolute; left:160px;border-radius:5px" type="reset"  value="clear" /></p>
   </form>

<style>
.fontsyt
{
	text-shadow: 5px 5px 5px #FFFF00;
	font-family: Times New Roman; 
	color: #FFFFFF; 
    font-style:Italics
}
-----------------------------%-----------------------------------------

<!--Java Script code for Validating empty fields-->
<script>
function val()
{
var user=document.getElementById("username").value
var pass=document.getElementById("password").value
if (user == "" || pass == "")
{
alert("Input values cannot be empty buddy!!");
return false;
}
else
{
return true;
}
}
</script>
